{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<h2>Team</h2>

<p>
The phpMyAdmin development team has been organized on <a
href="http://sourceforge.net/projects/phpmyadmin/">SourceForge.net</a> since
its start in 2001. Later the Git repositories were hosted on
<a href="https://github.com/phpmyadmin">GitHub</a> and in 2015 also issue tracking
has been moved there.
They are responsible for the development of phpMyAdmin and represent
it at various conferences. You can find more about the <a href="{% url 'about' %}">project and its history</a>.
</p>

<p>
You can contact the team on the <a href="mailto:developers@phpmyadmin.net">development 
mailing list</a> (<a href="https://lists.phpmyadmin.net/mailman/listinfo/developers">subscription and archives</a>).
You can follow the developers blogs at 
<a href="http://planet.phpmyadmin.net/">planet phpMyAdmin</a>.
</p>

<div class="floatbox vcard" id="michal">
<h3 class="fn">Michal Čihař</h3>
<h4>Project admin and infrastructure coordinator</h4>
<img class="head photo" src="{% static 'images/heads/nijel.jpg' %}" alt="Photo of Michal Čihař" />
<p>
Michal made his first contribution to <span class="org">phpMyAdmin</span> in 2001 by updating the Czech
translation. Later he contributed charset conversion code and improved export
and import handling to support plugins.
</p>
<p>
He currently maintains the project web site, demo server, wiki and other useful
services. He lives in <span class="adr"><span class="locality">Prague</span>, <span class="country-name">Czech Republic</span></span>.
</p>
<p>Contact options: <a class="url" href="http://cihar.com">website</a>, <a class="url" href="xmpp:michal@cihar.com">jabber</a>, <a class="email" href="mailto:michal@cihar.com">email</a>.</p>
</div>

<div class="floatbox vcard" id="madhura">
<h3 class="fn">Madhura Jayaratne</h3>
<h4>Bug fixing and security coordinator</h4>
<img class="head photo" src="{% static 'images/heads/madhura.jpg' %}" alt="Photo of Madhura Jayaratne" />
<p>
Madhura joined the <span class="org">phpMyAdmin</span> in early 2011 and continues to contribute by fixing bugs and translating phpMyAdmin to his native language, Sinhala. He also took part in GSoC 2011 to implement GIS support for phpMyAdmin.
</p>
<p>
He lives in <span class="adr"><span class="locality">Colombo</span>, <span class="country-name">Sri Lanka</span></span>.
</p>
</div>

<div class="floatbox vcard" id="atul">
<h3 class="fn">Atul Pratap Singh</h3>
<h4>JavaScript Q/A coordinator</h4>
<img class="head photo" src="{% static 'images/heads/atul.jpg' %}" alt="Photo of Atul Pratap Singh" />
<p>
Atul joined the team in August 2012, after he took part in Google Summer of Code 2012 for phpMyAdmin. He contributed by refactoring a part of the project and helped in phpMyAdmin's migration to 'jqplot'.
</p>
<p>
He lives in <span class="adr"><span class="locality">New Delhi</span>, <span class="country-name">India</span></span>.
</p>
</div>

<div class="floatbox vcard" id="isaac">
<h3 class="fn">Isaac Bennetch</h3>
<h4>Release, support and documentation coordinator</h4>
<img class="head photo" src="{% static 'images/heads/isaac.jpg' %}" alt="Photo of Isaac Bennetch" />
<p>
Isaac has been helping out with <span class="org">phpMyAdmin</span> since 2005 by helping with user
support and improving the documentation. He officially joined the development team in April, 2013. 
Isaac enjoys being able to give back to the Open Source community and is thrilled to be a part of
the <span class="org">phpMyAdmin</span> community.
</p>
<p>
He lives in the <span class="adr"><span class="country">United States</span></span>.
</p>
</div>

<div class="floatbox vcard" id="deven">
<h3 class="fn">Deven Bansod</h3>
<h4>Developer</h4>
<img class="head photo" src="{% static 'images/heads/deven.jpg' %}" alt="Photo of Deven Bansod" width="65" height="72" />
<p>
Deven started contributing to <span class="org">phpMyAdmin</span> in January 2015 and participated in Google Summer of Code, 2015. He has worked on implementing several feature requests related to interface and usability improvement and continues to help out with bug fixes and testing out new features and patches.
</p>
<p>
He is currently a computer science undergrad at BITS Pilani, <span class="country">India</span>.
</p>
</div>

<div class="floatbox vcard" id="dan">
<h3 class="fn">Dan Ungureanu</h3>
<h4>Developer</h4>
<p>
Dan participated in Google Summer of Code 2015, where he implemented a new
SQL parser.
</p>
</div>

<div class="clearer"></div>

<h2>Team meetings</h2>

<p>
We would like to meet other members of the team more often; so far only a few
team meetings in real life have happened.
</p>
<p>The first one was at a big party in Karlsruhe, Germany for the 10th anniversary
of PHP and MySQL at the <a href="http://www.linuxtag.org/2005">LinuxTag</a> 2005
LAMP Area, with some special guests.
</p>
<p>The second meeting took place in Brussels, Belgium during 
<a href="http://fosdem.org/2010">FOSDEM 2010</a>. Marc Delisle talked
about &quot;State of phpMyAdmin&quot; in the MySQL developer room.
</p>
<p>The third meeting took place in Brussels, Belgium during 
<a href="http://fosdem.org/2012">FOSDEM 2012</a>. The team talked about
future directions for the project.
</p>
<p>The fourth meeting took place in Vaumarcus, Switzerland during
<a href="http://debconf13.debconf.org/">Debconf13</a>. The team did
a <a href="http://www.irill.org/videos/debconf13/phpMyAdmin_tutorial.webm">tutorial</a>
showing basic and more advanced features of phpMyAdmin.
</p>
<p>During <a href="http://linuxtag.org/2014/en">LinuxTag 2014</a> in Berlin, Germany, our project was an exhibitor and we held our fifth team meeting.
</p>
<p>The sixth team meeting was held during <a href="http://fosdem.org/2015">FOSDEM 2015</a>. We also attended a community dinner for the 20th anniversary of MySQL.</p>

<div class="screenshot">
    <a href="{% static 'images/linuxtag/IMG_4187.JPG' %}"
    rel="lightbox[meeting]" title="2005 team with Rasmus (PHP) - Marc Delisle, Olivier Müller, Alexander M. Turek, Rasmus Lerdorf, Garvin Hicking, Michal Čihař, Robin Johnson">
        <img src="{% static 'images/linuxtag/IMG_4187_tn.JPG' %}"
        alt="phpMyAdmin team with Rasmus (PHP)" />
    </a>
</div>

<div class="screenshot">
    <a href="{% static 'images/linuxtag/IMG_4189.JPG' %}"
    rel="lightbox[meeting]" title="2005 team with Monty (MySQL) - Michal Čihař, Marc Delisle, Olivier Müller, Garvin Hicking, Michael Widenius (Monty), Alexander M. Turek, Robin Johnson">
        <img src="{% static 'images/linuxtag/IMG_4189_tn.JPG' %}"
        alt="phpMyAdmin team with Monty (MySQL)" />
    </a>
</div>

<div class="screenshot">
    <a href="{% static 'images/fosdem-2010/fosdem-2010-med.jpg' %}"
    rel="lightbox[meeting]" title="2010 team - Marc Delisle, Robin H. Johnson, Herman van Rink, Michal Čihař, Alexander M. Turek">
        <img src="{% static 'images/fosdem-2010/fosdem-2010-tn.jpg' %}"
        alt="phpMyAdmin team at FOSDEM 2010" />
    </a>
</div>

<div class="screenshot">
    <a href="{% static 'images/fosdem-2012/fosdem-2012-med.jpg' %}"
    rel="lightbox[meeting]" title="2012 team - Rouslan Placella, Madhura Jayaratne, Marc Delisle, Dieter Adriaenssens (not in the picture: Michal Čihař)">
        <img src="{% static 'images/fosdem-2012/fosdem-2012-tn.jpg' %}"
        alt="phpMyAdmin team at FOSDEM 2012" />
    </a>
</div>

<div class="screenshot">
    <a href="{% static 'images/debconf-2013/debconf-2013-med.jpg' %}"
    rel="lightbox[meeting]" title="2013 team - Rouslan Placella, Dieter Adriaenssens, Chanaka Dharmarathna, Isaac Bennetch, Madhura Jayaratne, Marc Delisle, Michal Čihař">
        <img src="{% static 'images/debconf-2013/debconf-2013-tn.jpg' %}"
        alt="phpMyAdmin team at DebConf 2013" />
    </a>
</div>

<div class="screenshot">
    <a href="{% static 'images/linuxtag/2014/linuxtag-2014-team-photo.jpg' %}"
    rel="lightbox[meeting]" title="2014 team - Chanaka Dharmarathna, J.M., Madhura Jayaratne, Michal Čihař, Marc Delisle, Atul Pratap Singh, Isaac Bennetch">
        <img src="{% static 'images/linuxtag/2014/linuxtag-2014-team-photo_tn.jpg' %}"
        alt="phpMyAdmin team at LinuxTag 2014 in Berlin" />
    </a>
</div>

<div class="screenshot">
    <a href="{% static 'images/fosdem-2015/fosdem-2015-med.jpg' %}"
    rel="lightbox[meeting]" title="2015 team meeting - Chirayu Chiripal, Smita Kumari, Marc Delisle, Hugues Peccatte, Atul Pratap Singh">
        <img src="{% static 'images/fosdem-2015/fosdem-2015-tn.jpg' %}"
        alt="phpMyAdmin team at FOSDEM 2015 in Brussels" />
    </a>
</div>

<div class="clearer"></div>

<h2>Contributors</h2>

<p>
We'd like to thank all the developers and contributors,
who have contributed to the success of phpMyAdmin over the years.
A full list is maintained in the <a
href="https://phpmyadmin.readthedocs.org/en/latest/credits.html">documentation</a>.
</p>
    
{% endblock %}
